<nav class="w-full py-3">
    <div class="max-6xl mx-auto flex justify-between gap-8">
        <a href="#" class="navbar-brand text-green-900 text-2xl md:text-4xl">Shopcart</a>
        <ul class="links flex gap-4 py-3">
            <li>Categories</li>
            <li>Deals</li>
            <li>What's New</li>
            <li>Delivery</li>
        </ul>
        <div class="search-bar">
            <form class="flex px-2" role="search">
                <input class="form-control mr-2 rounded-full" type="search" placeholder="Search" aria-label="Search Products">
              </form>
        </div>
        <div class="flex gap-4 py-3">
            <p>Account</p>
            <p>Cart</p>
        </div>
    </div>
</nav>